/* =====================================
Responsive Design
===================================== */



@media(max-width:768px){


.container-premium{


width:92%;


}



h1{


font-size:32px;


}


.glass-card{


padding:

20px;


}



.btn-premium{


width:100%;


}



}